h2 {
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

th {
  background: #f3f3f3;
}

.btn {
  background: #1976d2;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background: #125a9c;
}

.disponible {
  color: green;
  font-weight: bold;
}

.en\ uso {
  color: orange;
  font-weight: bold;
}

.dañado {
  color: red;
  font-weight: bold;
}
