.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e5e7eb;
}

.login-box {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.15);
  text-align: center;
}

h2 {
  margin-bottom: 0.5rem;
  color: #1f2937;
}

.subtitle {
  color: #6b7280;
  font-size: 14px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
}

button {
  background: #2563eb;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #1e40af;
}
